body
{
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    justify-content: center; /* 중앙 정렬 */
    flex-direction: column;
}

.craftContainer
{
    display: flex;
    gap: 150px;
    margin-bottom: 50px;
    justify-content: center;
}

.blocksContainer
{
    display: flex;
    justify-content: center;
}

.craftTable
{
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3개의 100px 너비의 열 */
    grid-template-rows: repeat(3, 100px); 
    gap: 5px;
    margin-bottom: 5px;
}

.craftTable div
{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-image: url('../itemimage_a-g/acacia_slab.png');

    background-size: auto 95%; 
    background-repeat: no-repeat;
}

.result
{
    display: flex;
    margin-top: 105px;
    gap: 10px;
    grid-template-columns: repeat(1, 100px);
}

.result div
{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;

    background-size: auto 95%; 
    background-repeat: no-repeat;
}

.blocks
{
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
}

.blocks div
{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-image: url('../itemimage_a-g/acacia_slab.png');

    background-size: auto 95%; 
    background-repeat: no-repeat;
}

#follow-img {
    position: absolute;
    width: 75px; /* 원하는 이미지 크기로 설정 */
    height: 75px; /* 원하는 이미지 크기로 설정 */
    pointer-events: none; /* 이미지가 클릭되지 않도록 설정 */
    transform: translate(-50%, -50%); /* 이미지의 중심이 커서를 따라오도록 설정 */
    display: none; /* 처음에는 이미지를 숨김 */
}